[submodule "lua-enet"]
	path = lua-enet
	url = https://github.com/leafo/lua-enet
[submodule "love-nuklear"]
	path = love-nuklear
	url = https://github.com/keharriso/love-nuklear
[submodule "bitser"]
	path = bitser
	url = https://github.com/gvx/bitser
[submodule "luazen"]
	path = luazen
	url = https://github.com/philanc/luazen
